# Environments & Secrets
.env
.env.*
*.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases & Logs
*.db
*.sqlite
*.sqlite3
*.log
logs/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
